html,
body {
  scroll-behavior: smooth;
  height: 100vh;
}

@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmmono/v10/aFTU7PB1QTsUX8KYthqQBA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-color: #0C0C0C;
  color: #AEAEAE;
  font-family: "DM Mono", monospace;
  font-size: clamp(0.7rem, 3.5vw, 1rem);
}

.div-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.25rem;
  background-color: #0C0C0C;
}

body::-webkit-scrollbar-thumb {
  background-color: #0C0C0C;
}

body::-webkit-scrollbar-track {
  background-color: #0C0C0C;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.text-error {
  color: #E74856;
  display: block;
  white-space: normal;
}

.text-command {
  color: #F9F1A5;
}

.text-green {
  color: #7BE748;
}

.text-blue {
  color: #48C1E7;
}

.text-title {
  font-weight: 600;
  color: #48C1E7;
  text-align: center;
}

.btn-primary {
  background-color: #48C1E7;
  color: whitesmoke;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}